/*

#HomePage { 
    margin top: 6% 
    font-size: xx-large;
    background-color: 
    border-radius: 30px;
    margin-left: 30%; 
    margn-right: 30%;
    box-shadow: 0 0 15px 1px 
    padding bottom: 1px
}


#header1 {
    z-index: 
    position: 
    background-color: pink 
    margin-left: 
    padding; 
    wdith: 
    height: 
    top: 
    left: 
    color: purple 
    box-shadow: 
}

nav { 
    z-index: 1; 
    background-color:aquamarine
    position: fixed; 
    left: 
    top: 
    padding: 
    border-radius: 
}
*/

#nailmp4 {
    width:200px;
    height:400px;
}

#Mexicomp4 {
    width:500px;
    height: 400px; 

}

#travelmov {
    width:500px;
    height: 400px; 

}