#header {
    text-align: center;
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10%;
}
#star {
width: 100%;
margin-left: 43%;
margin-top: 7%;
}